main {
    width: 1400px;
    max-width: 90%;
}
.body {
    font-family: 'Bebas Neue', cursive;
}
.primary {
    background-color:papayawhip;
}
.container {
    padding-top: 20px;
    padding-bottom: 20p;
    height: 700px;   
}
.btn {
    color:white;
    font-size: 20px;
    padding: 10px 20px;
    background-color:darkblue;
    border-radius: 10px;
}
.orange {
    color: orangered;
}
.shoe-section {
    padding-top: 50px;
}
.col {
    padding-top: 30px;
}
.navbar-brand img {  
    width: 58%;
}
.btn img {
    width: 20%;
}
.signature-place img {
    width: 85%;
}
.third-section img {
    width: 100%;
}
.money {
    color: green;
}
.third-section {
    height: 600px;
    padding-top: 100px;
}
.card-shoe {
    border-radius: 25px;
    border: 0;
    padding-bottom: 20px;
}
.card-shoe img {
    background-color: whitesmoke;
    border-radius: 25px;
    height: 400px;
    padding: 20px;
    width: 100%;
}
.formal-shoe {
    border-radius: 15px;
    border: 0;
    padding-bottom: 20px;
}
.col-md-4 img {
    width: 50%;
    margin-left: 25px;
    margin-top: 10px;
}
.shoe-card-footer {
    border-top: 0;
    border-radius: 15px;
    background-color: white;
}
.support-section {
    border-radius: 15px;
    border: 0;
    padding-bottom: 20px;
    margin-bottom: 20px;
}